.heading
  nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        a.navbar-brand(href='#') GeekHouse
      ul.nav.navbar-nav
        li
          a(ui-sref='home') Home
      ul.nav.navbar-nav.navbar-right
        li
          a(ui-sref='login') Login
div(ui-view='')

