doctype html
html(ng-app='myApp')
  head
    title hello world
    script(src='./ctrl/bower_components/jquery.min.js')
    script(src='./ctrl/bower_components/angular.min.js')
    script(src='./ctrl/bower_components/angular-ui-router.min.js')
    script(src='./ctrl/bower_components/ocLazyLoad.min.js')
    script(src='./ctrl/app.js')
    //script(src='./ctrl/controller.js')
    //link(href='./ctrl/styleSheet.css',rel='stylesheet')
   body
     div(ui-view=' ')


